html{
    background-color: white;
    color: rgb(235, 53, 53);
}


#navbar{
    height: 50px;
}


#flex{
    display: flex;
    height: calc(100vh - 52px);
}


#sidebar{
    width: 20%;
}


#main{
    width: 80%;
    padding: 40px;
}


.container{
    border-style:double;
    border-color: rgb(255, 222, 222);
    border-width: 2px;
}


body{
    margin: 0;
}


h1{
    font-family:Arial;
}
h3{
    font-family: Arial;
}

p{
    font-family:Arial;
    font-size: 15px;
}